.container-lg {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
    background-color: white;
    padding: 80px;
    border-radius: 16px;
    border: 1px solid #ffc02e;
}

.container-lg input:focus {
    outline: none;
    border: 1px solid #eeeeee;
}